<div class="row">
  <div class="col-md-10 col-centered">
    <div class="col-md-4"><%= plan.operation_name %></div>
    <div class="tabs col-md-8">
      <% for (var i = 0; i < tabs.length; i ++) { %>
      <span data-type="<%= tabs[i].type %>" class="<% if (tabs[i].type == type) { %>selected<% } %> tab pull-right <%= tabs[i].type %>"><%= tabs[i].name %></span>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-centered">
    <input type="text" class="parameter-search" />
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-centered content">
  </div>
</div>
