.container
  %h1.bottom-flush
    %a{ :href => '#/' } CMS
  %h4.top-flush
    Build or Edit a Strategy.
  .cms-content

:javascript
  $(document).ready(function() {

    Visio.manager = new Visio.Models.Manager({
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json(:include => {
        :strategy_objectives => true,
        :operations => true
      }).html_safe}),
      ready: function() {
        Visio.router = new Visio.Routers.StrategyCMSRouter();
        Backbone.history.start();
      }
    })

  });
