<div class="col-md-8 col-centered">
  <div class="row ui-small-header"><%= name %></div>
  <div class="row">Budget: $<%= Visio.Utils.commaNumber(budget) %></div>
  <div class="row">Achievement: <%= Math.round(100 * achievement) %></div>
</div>
