<div class="row">
  <div class="col-md-8 col-centered">
    <section class="overlay-header">
      <h1>Create a PDF.</h1>
      <h3>Select Indicators.</h3>
    </section>
    <section class="overlay-content export-figure">
      <figure></figure>
      <figcaption></figcaption>
    </section>
    <section class="export-settings">
      <div class="ui-small-header">Customize Your Document</div>
    </section>
  </div>
</div>
