<div class="row">
  <div class="col-md-8 col-centered">
    <section class="overlay-header">
      <h1>Create a PDF.</h1>
      <h3>Select Indicators.</h3>
    </section>
    <section class="overlay-content export-figure">
      <figure></figure>
      <figcaption>

        <% _.each(data, function(d) { %>
        <% if (d.index >= 0) { %>
          <div class="visio-check visio-check-vertical">
            <input value="<%= d.index %>" type="checkbox" id="datum-<%= d.index %>" />
            <label for="datum-<%= d.index %>"><%= d.index %></label>
          </div>
        <% } %>
        <% }) %>
      </figcaption>
    </section>
    <section class="export-settings">
      <div class="ui-small-header">Customize Your Document</div>
      <button class="export">Export</button>
    </section>
  </div>
</div>
