<div class="row">
  <div class="medium-item ui-medium-header light col-md-8 col-centered">
    <a href="/">HOME</a>
  </div>
</div>
<% _.each(strategies, function(strategy) { %>
<div class="row divider-stack-orange"></div>
<div class="row">
  <div class="medium-item ui-medium-header light col-md-8 col-centered">
    <a href="/overview?strategy_id=<%= strategy.id %>"><%= strategy.name.toUpperCase() %></a>
  </div>
</div>
<% }) %>
<div class="row"><div class="medium-item ui-medium-header">&nbsp;</div></div>
<div class="row">
  <div class="medium-item ui-medium-header light col-md-8 col-centered">
    <a href="/archive">ARCHIVE</a>
  </div>
</div>
<div class="row divider-stack-orange"></div>
<div class="row">
  <div class="medium-item ui-medium-header light col-md-8 col-centered">
    <a href="/quicklinks">QUICKLINKS</a>
  </div>
</div>
