<div class="ui-line-item-theme">
  <div class="pin pin-small pin-white pull-right">
    <div class="pin-tip"></div>
    <div class="pin-body"></div>
  </div>
  <div class="bold">Priority Countries</div>
  <div>Filter by:</div>
</div>
<div class="ui-line-item-theme">
  <div class="visio-check">
      <input type="checkbox" id="child-protection-check" name="child-protection"/>
      <label for="child-protection-check">Child Protection</label>
  </div>
</div>
