<div class="container full-width">
  <div class="row">
    <div class="col-centered col-md-8 search-container">
      <input type="text" class="full-width" />
    </div>
  </div>
  <div class="results row overlay full-width gone ui-primary-theme">
    <div class="col-centered col-md-8">
      <div class="operation-results-container">
        <div class="ui-bright-yellow">Operations</div>
        <div class="operation-results"></div>
      </div>
      <div class="indicator-results-container">
        <div class="ui-bright-yellow">Indicators</div>
        <div class="indicator-results"></div>
      </div>
    </div>
  </div>
</div>
