<div class="container full-width">
  <div class="row">
    <div class="col-centered col-md-8 search-container">
      <input type="text" class="full-width" />
    </div>
  </div>
  <div class="row">
    <div class="col-centered col-md-8 results full-width">
    </div>
  </div>
</div>
