<div class="row">
  <div class="col-md-8 col-centered ui-primary-light zero-padding">
    <div class="col-md-2 ui-purple right-text zero-padding">
      Aggregate by
    </div>
    <div class="col-md-2 ui-purple zero-padding">
      <select class="dropdown">
        <% _.each(Visio.AggregationTypes, function(hash) { %>
        <option  <% if (hash.plural === Visio.manager.get('aggregation_type')) { %>selected <% }
        %>value="aggregation_type<%= Visio.Constants.SEPARATOR + hash.plural %>"><%= hash.human %></option>
        <% }) %>
      </select>
    </div>
    <a href="#absy" class="col-md-2 center-text zero-padding">
      Budget
    </a>
    <a href="#isy" class="col-md-2 center-text zero-padding">
      Indicators
    </a>
    <a class="col-md-2 center-text zero-padding">
      Summary Stats
    </a>
    <div class="col-md-2 zero-padding">
      <select class="dropdown">
        <% _.each(Visio.manager.get('yearList'), function(year) { %>
        <option  <% if (year === Visio.manager.year()) { %>selected<% } %> value="year<%=
        Visio.Constants.SEPARATOR + year %>"><%= year %></option>
        <% }) %>
      </select>
    </div>
  </div>
</div>
