<div class="row">
  <div class="col-md-8 col-centered ui-primary-light zero-padding">
    <div class="col-md-3 ui-purple right-text zero-padding">
      CHOOSE YOUR VIEW
    </div>
    <a href="#absy" class="col-md-2 center-text zero-padding">
      Budget
    </a>
    <a href="#isy" class="col-md-2 center-text zero-padding">
      Indicators
    </a>
    <a class="col-md-2 center-text zero-padding">
      Summary Stats
    </a>
    <div class="col-md-3 right-text zero-padding">
      2013
    </div>
  </div>
</div>
