<div class="current-year ui-line-item-theme"><%= Visio.manager.year() %></div>
<div class="dropdown zero-height">
  <% for (var i = 0; i < years.length; i ++) { %>
    <div data-year="<%= years[i] %>" class="dropdown-item year ui-line-item-theme">
      <%= years[i] %>
    </div>
  <% } %>
</div>
