<div class="current-year ui-line-item-theme"><%= Visio.manager.year() %></div>
<ul class="dropdown zero-height">
  <% for (var i = 0; i < years.length; i ++) { %>
    <li data-year="<%= years[i] %>" class="dropdown-item year ui-line-item-theme">
      <%= years[i] %>
    </li>
  <% } %>
</ul>
