<select class="dropdown">
  <% for (var i = 0; i < years.length; i ++) { %>
    <option value="year<%= Visio.Constants.SEPARATOR + years[i] %>" class="ui-line-item-theme">
      <%= years[i] %>
    </option>
  <% } %>
</select>
