<div class="info-container">
  <div class="row">
    <div class="col-md-8 col-centered ui-primary-light">
      Lorem ipsum
    </div>
  </div>
  <div class="row">
    <div class="zero-padding col-md-8 col-centered ui-primary-soft ui-small-header">Single Year Indicator
      Results</div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    </div>
  </div>
</div>

