<figure class="spark-bar-graph pull-right"></figure>
<div class="row">
  <div class="col-md-8 col-centered">
    <div class="row js-parameter">
      <div class="col-md-2">
        <div class="pin pin-medium">
          <div class="pin-tip"></div>
          <div class="pin-body"></div>
        </div>
      </div>
      <div class="col-md-8 ui-medium-header">
        <%= parameter.toString() %>
        <div class="counts"></div>
      </div>
    </div>
    <div class="row data-container">
      <div class="col-md-9 tabs"></div>
      <figure class='indicator-bar-graph'></figure>
    </div>
  </div>
</div>
<aside class="container full-width ui-primary-soft-theme data-container">
  <div class="row">
    <div class="col-md-8 col-centered">
      <div data-prefix="PPG" class="row js-ppg-container"></div>
      <div data-prefix="Goal" class="row js-goal-container"></div>
      <div class="row divider-white"></div>
      <div class="row bold">Indicator</div>
      <div class="row js-indicator-container"></div>
    </div>
  </div>
</aside>
