@mixin article {
  width: 445px;
  display: inline-block;
  position: relative;
  margin-left: $parameter-show-padding-horizontal / 2;
  margin-right: $parameter-show-padding-horizontal / 2;
  border: 1px solid $primary;
  padding-top: 0;
}

@mixin section {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin number {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin pbi_avoid {
  page-break-inside:avoid !important;
}

@mixin medium-header {
  font-size: 20px;
}

@mixin full-width {
  width: 100%
}

@mixin small-header {
  font-size: 14px;
  letter-spacing: -.02em;
}

@mixin large-header {
  font-size: 40px;
  letter-spacing: -.02em
}

/* Used on white backgrounds */

@mixin text-theme-one {
  input, textarea {
    border: $light-gray 1px solid;
    width: 100%;
    @include box-shadow($off-white 0px 0px 15px 0px inset);
    color: $primary;
    padding-left: 14px;
    padding-right: 14px;
  }

  b {
    font-weight: bold;
    color: $primary;
  }

  label {
    color: $primary-light;
  }

  .visio-checkbox {
    label {
      color: $primary;
    }
    input:checked + label {
      color: $orange;
    }
  }

  textarea {
    padding-top: 10px;
    padding-bottom: 10px;

    height: 150px;
  }

  h2 {
    text-align: left;
    display: block;
    border-bottom: 1px solid $primary-light;
    color: $orange;
    font-size: 26px;
  }

  h3 {
    text-align: left;
    display: block;
    border-bottom: 1px solid $primary-light;
    color: $orange;
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    color: $primary-soft;
  }

  a {
    color: $primary-light;
    font-weight: bold;
  }

}

@mixin label {
  color: $primary;
  font-size: 14px;
  font-weight: bold;
}

@mixin orange-highlight {
  color: $orange;
  font-size: 14px;
  font-weight: normal;
}

@mixin text-theme-two {
  h2 {
    font-size: 26px;
    color: $primary;
    margin: 0
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h5 {
    display: inline-block;
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  h6 {
    @include label;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}


@mixin vertical-middle {
  top: 50%;
  position: relative;
  @include translateY(-50%);
}

@mixin header-button {
  margin-bottom: 0;
  width: $header-button-width;
  height: $header-button-height;
  line-height: $header-button-height;
  border-left: 1px $white solid;
  background-color: $lighter-gray;
  display: inline-block;
  float: right;
  text-align: left;
  color: $primary-soft;
}

@mixin hover-shadow {
  @include box-shadow(0px 5px 13px -3px $primary-soft)
}

@mixin box-shadow {
  @include box-shadow(0px 2px 4px rgba(0,0,0,0.25));
}


@mixin row-gutter {
  margin-left: -15px;
  margin-right: -15px;
}
