@mixin article {
  width: 465px;
  display: inline-block;
  position: relative;
  padding-left: $parameter-show-padding-horizontal / 2;
  padding-right: $parameter-show-padding-horizontal / 2;
}

@mixin number {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@mixin pbi_avoid {
  page-break-inside:avoid !important;
}

@mixin medium-header {
  font-size: 20px;
}

@mixin full-width {
  width: 100%
}

@mixin small-header {
  font-size: 14px;
  letter-spacing: -.02em;
}

@mixin large-header {
  font-size: 40px;
  letter-spacing: -.02em
}

/* Used on white backgrounds */

@mixin text-theme-one {
  input, textarea {
    border: $light-gray 1px solid;
    width: 100%;
    @include box-shadow($off-white 0px 0px 15px 0px inset);
    color: $primary;
    padding-left: 14px;
    padding-right: 14px;
  }

  label {
    color: $primary-light;
  }

  .visio-checkbox {
    label {
      color: $primary;
    }
    input:checked + label {
      color: $orange;
    }
  }

  textarea {
    padding-top: 10px;
    padding-bottom: 10px;

    height: 150px;
  }

  h2 {
    text-align: left;
    display: block;
    border-bottom: 1px solid $primary-light;
    color: $orange;
    font-size: 26px;
  }

  h3 {
    text-align: left;
    display: block;
    border-bottom: 1px solid $primary-light;
    color: $orange;
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    color: $primary-soft;
  }

  a {
    color: $primary-light;
    font-weight: bold;
  }

}

@mixin text-theme-two {
  h2 {
    font-size: 26px;
    color: $primary;
    margin: 0
  }
}
