/* Colors */
$primary: rgb(13, 45, 70);
$primary-second: rgb(58, 96, 157);
$primary-light: rgb(2, 178, 225);
$primary-medium-dark: rgb(3, 114, 142);
$primary-medium: rgb(1, 139, 176);
$primary-dark: rgb(18, 34, 57);
$primary-soft: rgb(50, 102, 201);
$secondary: rgb(223, 91, 87);
$thirdary: rgb(255, 203, 5);
$soft-glow: rgb(245, 227, 155);
$selection: rgb(252, 239, 23);
$bright: rgb(255, 248, 59);
$white: rgb(249, 249, 249);
$off-white: rgb(245, 245, 245);
$dark-gray: rgb(133, 135, 134);
$light-gray: rgb(177, 177, 177);
$lighter-gray: rgb(217, 217, 217);
$black: rgb(39,38,34);
$turquoise: rgb(32, 180, 180);
$pink: rgb(200, 85, 145);
$yellow-green: rgb(158, 196, 59);
$yellow: rgb(222, 229, 29);
$bright-yellow: rgb(246, 236, 0);
$neutral: rgb(209, 211, 212);
$neutral-dark: rgb(150, 152, 155);
$purple: rgb(175,0,107);
$purple-dark: rgb(141, 77, 189);
$orange: rgb(229, 86, 28);
$orange-dark: rgb(175, 68, 24);
$orange-light: rgb(244, 107, 52);
$lightblue: rgb(123, 184, 238);
$divider-top: rgb(41, 82, 161);
$divider-bottom: rgb(92, 133, 212);
$alert-red: #fc9bd6;

/* algorithm colors */
$success: rgb(70, 190, 30);
$success-dark: rgb(7, 113, 15);
$ok: rgb(242, 211, 25);
$ok-dark: rgb(170, 173, 25);
$fail: #c6302a;
$fail-dark: #710d09;
$high: rgb(48, 73, 136);
$medium: rgb(90, 104, 159);
$low: rgb(133, 141, 186);
$missing: $dark-gray;



/* bmy colors */
$admin: rgb(0, 139, 211);
$staff: rgb(173, 74, 153);
$project: rgb(157, 199, 12);
$partner: rgb(238, 116, 74);
$total: $black;

$map-background: #e5e5e5;
$country-color: #8e9096;


/* Transitions */
$very-fast-transition: .1s;
$faster-transition: .25s;
$fast-transition: .5s;
$medium-transition: 1s;

/* Lengths */
$row-inner-width: 960px;
$radius: 3px;
$content-margin: 20px;
$pin-medium: 20px;
$pin-small: 12px;
$pin-large: 30px;
$pin-extra-large: 50px;
$map-filter-width: 200px;
$navigation-width: 300px;
$accordion-max-height: 340px;
$meter-height: 7px;
$menu-row: 20px;
$page-margin: 40px;
$search-icon: 29px;
$header-height: 65px;
$toolbar-height: 42px;
$parameter-slide-height: 290px;
$parameter-slide-width: 306px;
$slider-controls-width: 62px;
$control-radius: 17px;
$parameter-show-idx: 24px;
$parameter-show-padding-horizontal: 50px;
$parameter-show-padding-vertical: 30px;
$modal-width: 960px;
$header-button-height: 30px;
$export-label-length: 160px;
$snapshot-bar-container-height: 370px;
