:javascript
  $(document).ready(function() {

    var ready = function() {
      var config = #{@export_module.to_json};
      Visio.router = new Visio.Routers.PdfRouter({ config: config });
      Backbone.history.start();
    };


    Visio.manager = new Visio.Models.Manager({
      use_local_db: false,
      state: #{@export_module.state.to_json},
      ready: ready
    })

    window.PhantomJSPrinting = {
      header: {
        height: "2.5cm",
        contents: function(pageNum, numPages) {
          return window.HAML['pdf/header']({
            pageNum: pageNum,
            numPages: numPages,
            figureType: #{@export_module.figure_type.to_json}
          });
        }
      },
      footer: {
        height: "1cm",
        contents: function(pageNum, numPages) {
          return window.HAML['pdf/footer']({
            pageNum: pageNum,
            numPages: numPages
          });
        }
      }
    };

  })
