.pdf-page
  %h1
    = @export_module.title

  %h2
    = @export_module.description

  .pbi_avoid
    here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.
  .pbi_avoid
    here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.
  .pbi_avoid
    here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.  here is a sentence.

.pdf-page-2.pbi_avoid
  boob
