:javascript
  $(document).ready(function() {

    Visio.manager = new Visio.Models.Manager({
      state: #{@export_module.state.to_json},
      ready: function() {
        Visio.router = new Visio.Routers.PdfRouter({ config: #{@export_module.to_json} });
        Backbone.history.start();

      }
    })

  })
