/* Colors */
$primary: rgb(13, 45, 70);
$primary-light: rgb(2, 178, 225);
$primary-medium: rgb(3, 114, 142);
$secondary: rgb(223, 91, 87);
$thirdary: rgb(255, 203, 5);
$soft-glow: rgb(245, 227, 155);
$selection: rgb(252, 239, 23);
$bright: rgb(255, 248, 59);
$white: rgb(249, 249, 249);

/* Transitions */
$fast-transition: .5s;
$medium-transition: 1s;

/* Lengths */
$radius: 3px;


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato/Lato-Bold.ttf') format('truetype');
}

.ui-primary-theme {
  background-color: $primary;
  color: $white;

}

.ui-primary-medium-theme {
  background-color: $primary-medium;
  color: $white;
}

.ui-invert-theme {
  background-color: $white;
  color: $primary;
}

body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.ui-primary {
  color: $primary;
}

.ui-primary-light {
  color: $primary-light
}

.ui-bright {
  color: $bright;
}

.menu-item {
  margin: .3em 1.5em;
}

.full-wrapper {
  min-height: 100%;
  min-width: 100%;
}

.ui-medium-header {
  font-size: 3em;
  letter-spacing: -.02em;
}

.ui-small-header {
  font-size: 2em;
  letter-spacing: -.02em;
}

.ui-large-header {
  font-size: 4em;
  letter-spacing: -.02em
}

.ui-active {
  background-color: $secondary;
  color: inherit;
}

.ui-active:hover {
  background-color: $thirdary;
  color: $primary;
}

.center-text {
  text-align: center;
}

.thematic-item {
  height: 2.4em;
}

.thematic-item:hover {
  text-decoration: none;
}

.theme-content {
  position: relative;
  top: -1.4em;
  pointer-events: none;
}

.logo:before {
  background-image: url(/assets/logo.png);
  background-size: 1.5em;
  content: "";
  height: 1.5em;
  display: inline-block;
  width: 2em;
  background-repeat: no-repeat;
  position: relative;
  top: .4em;
  left: .4em;
}

.logo-white:before {
  background-image: url(/assets/logo_white.png);
}

.underline {
  position: relative;
  color: transparent;
  border-bottom: 1.5px solid $primary-light;
  min-width: 14px;
  width: 0%;

  -moz-transition:width $medium-transition;
  -webkit-transition:width $medium-transition;
  -o-transition:width $medium-transition;
  transition:width $medium-transition;
}

.underline:hover {
  width: 100%;
}

.gone {
  display: none !important;
}

::selection {
	background: $selection; /* Safari */
	}
::-moz-selection {
	background: $selection; /* Firefox */
}

input {
  border: none;
}

input:focus {
  background-color: $soft-glow;
  border: none;
  outline: none;
  box-shadow: none;

  -moz-transition:background-color $fast-transition;
  -webkit-transition:background-color $fast-transition;
  -o-transition:background-color $fast-transition;
  transition:background-color $fast-transition;
}

.full-width {
  width: 100%
}

button, input {
  padding: .2em .8em;
  line-height: 2em;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.btn {
  border: none;

}

a {
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $secondary;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $secondary;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $secondary;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $secondary;
}

#map {
  padding-top: 3px;
  border-top: 1px solid $primary-light;
}
