$map-background: rgb(232,232,232);
$country-color: rgb(39,38,34);

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
}
