@import "variables.css.scss";

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
}

#bubble {
  .axis path {
    fill: none;
  }

  .y.axis line {
    stroke: $primary-light;
  }

  .y.axis g:first-child line {
    stroke: none
  }

  .y.axis text {
    fill: $primary-light;
    font-size: 1.4em;
  }

  .x.axis path {
    stroke: $light-gray;
  }

  .x.axis line {
    stroke: $light-gray;
  }

  .x.axis text {
    fill: $primary-light;
  }
}

.circle {
  .background {
    fill: $light-gray;
  }

  .foreground.ok {
    fill: $ok;
  }

  .foreground.success {
    fill: $success;
  }

  .foreground.fail {
    fill: $fail;
  }

  .foreground.missing {
    fill: $dark-gray;
  }

  .progress-meter text {
    font-size: 2em;
  }
}
