@import "variables.css.scss";

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
}

#bubble {
  .axis path {
    fill: none;
  }

  .y.axis line {
    stroke: $primary-light;
  }

  .y.axis g:nth-of-type(-n+2) line {
    stroke: none
  }

  .y.axis text, .x.axis > text {
    fill: $primary-light;
    font-size: 1.4em;
  }

  .x.axis path {
    stroke: $light-gray;
  }

  .x.axis line {
    stroke: $light-gray;
  }

  .x.axis text {
    fill: $primary-light;
  }
}

.circle {
  .background {
    fill: $light-gray;
  }

  .foreground.ok {
    fill: $ok;
  }

  .foreground.success {
    fill: $success;
  }

  .foreground.fail {
    fill: $fail;
  }

  .foreground.missing {
    fill: $dark-gray;
  }

  .progress-meter text {
    font-size: 1.8em;
    fill: white;
  }
}

.voronoi {
  fill: transparent;
  stroke: black;
}

.indicator-bar-graph {
  .box {
    fill: green;
    line {
      stroke: $dark-gray;
    }
  }
  .box.reversed {
    fill: red;
  }

}

.spark-bar-graph {
  margin-right: -2px;
}

.bar.success {
  fill: $success;
}
.bar.ok {
  fill: $ok;
}
.bar.fail {
  fill: $fail;
}
.bar.missing {
  fill: $dark-gray;
}

.graph-container {
  fill: transparent;
}
