/* Colors */
$primary: rgb(13, 45, 70);
$primary-light: rgb(2, 178, 225);
$primary-medium-dark: rgb(3, 114, 142);
$primary-medium: rgb(1, 139, 176);
$primary-dark: rgb(18, 34, 57);
$primary-soft: rgb(50, 102, 201);
$secondary: rgb(223, 91, 87);
$thirdary: rgb(255, 203, 5);
$soft-glow: rgb(245, 227, 155);
$selection: rgb(252, 239, 23);
$bright: rgb(255, 248, 59);
$white: rgb(249, 249, 249);
$off-white: rgb(245, 245, 245);
$dark-gray: rgb(133, 135, 134);
$light-gray: rgb(177, 177, 177);
$black: rgb(39,38,34);
$fail: #c6302a;
$fail-dark: #710d09;
$turquoise: rgb(32, 180, 180);
$yellow: rgb(222, 229, 29);
$bright-yellow: rgb(246, 236, 0);
$success: rgb(70, 190, 30);
$success-dark: rgb(7, 113, 15);
$ok: rgb(242, 211, 25);
$ok-dark: rgb(170, 173, 25);
$purple: rgb(175,0,107);
$orange: rgb(239, 157, 29);
$divider-top: rgb(41, 82, 161);
$divider-bottom: rgb(92, 133, 212);

$map-background: rgb(232,232,232);
$country-color: rgb(39,38,34);


/* Transitions */
$very-fast-transition: .1s;
$faster-transition: .25s;
$fast-transition: .5s;
$medium-transition: 1s;

/* Lengths */
$radius: 3px;
$content-margin: 20px;
$pin-medium: 20px;
$pin-small: 12px;
$pin-large: 30px;
$pin-extra-large: 50px;
$map-filter-width: 200px;
$navigation-width: 300px;
$accordion-max-height: 340px;
$meter-height: 7px;
$menu-row: 20px;
$page-margin: 40px;
$search-icon: 40px;



