<div>Signing up</div>
<div>
  <input class="email" name="email" type="text" />
  <input class="password" name="password" type="password" />
  <input class="password-confirmation" name="password-confirmation" type="password" />
  <button class="signup">signup</button>
</div>

