<header class="clearfix">
  <div class="account-menu">
    <a href="#signup" class="pull-right menu-item">Create an account</a>
    <span class="pull-right menu-item">New to VISIO?</span>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 center-text ui-large-header logo logo-white">
      <span class="bold">VISIO</span><span class="light">UNHCR</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center-text">
      <div class="bold">Good Afternoon!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center-text">
      <div class="light center-text" >Let's Get Started</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">

      <div class="col-md-5 center-text">
        <input class="email pull-left full-width" placeholder="Enter your email address" name="email" type="text" />
      </div>
      <div class="col-md-5 center-text">
        <input class="password pull-left full-width" placeholder="Password" name="password" type="password" />
      </div>
      <div class="col-md-2 center-text">
        <button class="signin ui-active full-width btn pull-left">GO</button>
      </div>
    </div>
  </div>
</div>
