<header>
  <span>New to VISIO?</span>
  <a href="/#signup">Create an account</a>
</header>

<div><span class="bold">VISIO</span><span class="light">UNHCR</span></div>
<div class="bold">Good Afternoon!</div>
<div class="light" >Let's Get Started</div>
<div>
  <input class="email" placeholder="Enter your email address" name="email" type="text" />
  <input class="password" placeholder="Password" name="password" type="password" />
  <button class="signin ui-active btn">login</button>
</div>
