<div class="container">
  <div class="row">
    <div class="col-md-12 center-text ui-large-header">
      <span class="bold">VISIO</span>
      <span class="light">UNHCR</span>
    </div>
  </div>
  <a href="#signin">Back to login</a>
  <div class="row">
    <div class="col-md-8 center-text col-centered">
      <span class="ui-bright bold ui-medium-header">Join the Visio Team</span>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-centered">
      <label>What is your name?*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <div class="col-md-6">
        <input class="first-name full-width" name="first-name" type="text" placeholder="First Name" />
      </div>
      <div class="col-md-6">
        <input class="last-name full-width" name="last-name" type="text" placeholder="Last Name" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <label>What is your email address?*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <input class="email full-width" name="email" type="text" placeholder="@"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <label>Password*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <input class="password full-width" name="password" type="password" placeholder="Secret"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <label>Double check the password*</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <input class="password-confirmation full-width" name="password-confirmation" type="password" placeholder="Secret again" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <button class="signup btn">Sign Up</button>
    </div>
  </div>

</div>
