<header class="clearfix">
  <div class="account-menu">
    <a href="#signup" class="pull-right menu-item">Create an account</a>
    <span class="pull-right menu-item">New to VISIO?</span>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 center-text ui-large-header logo logo-white">
      <span class="bold">VISIO</span><span class="light">UNHCR</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center-text">
      <div class="bold">Good Afternoon!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center-text">
      <div class="light center-text" >Let's Get Started</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">

      <form>
        <div class="col-md-5 center-text">
          <input class="email pull-left full-width" placeholder="Enter your email address" name="email"
          type="email" />
        </div>
        <div class="col-md-5 center-text">
          <input class="password pull-left full-width" placeholder="Password" name="password" type="password" />
        </div>
        <div class="col-md-2 center-text">
          <input type="submit" value="GO" class="signin ui-active full-width btn pull-left" />
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-centered">
      <div class="col-md-4 center-text logo-circle">
        <img alt="Visualize" src="/assets/visio-visualize.png" />
        <h2>Seeing is Believing</h2>
        <span>Map and make meaningful and <span class="ui-thirdary">effective&nbsp;connections</span>&nbsp;with&nbsp;your&nbsp;data</span>
      </div>
      <div class="col-md-4 center-text logo-circle">
        <img alt="Analyze" src="/assets/visio-analyze.png" />
        <h2>Simple and Intuitive</h2>
        <span><span class="ui-thirdary">Focus and refine</span> your data</span>
      </div>
      <div class="col-md-4 center-text logo-circle">
        <img alt="Present" src="/assets/visio-present.png" />
        <h2>Designed for You</h2>
        <span><span class="ui-thirdary">Customize</span>, Save, Export and Share&nbsp;your&nbsp;reports</span>
      </div>
    </div>
  </div>
</div>
