<div><span class="bold">VISIO</span><span class="light">UNHCR</span></div>
  <a href="/#signin">Back to login</a>
<div>
  <input class="first-name" name="first-name" type="text" placeholder="First Name" />
  <input class="last-name" name="last-name" type="text" placeholder="Last Name" />
  <input class="email" name="email" type="text" placeholder="@"/>
  <input class="password" name="password" type="password" placeholder="Secret"/>
  <input class="password-confirmation" name="password-confirmation" type="password" placeholder="Secret again" />
  <button class="signup">signup</button>
</div>

