.container
  %a{ :href => "/#achievement" } Achievement
  %a{ :href => "/#situation_analysis" } Situation Analysis

  #algorithm

:javascript
  $(document).ready(function() {
    Visio.manager = new Visio.Models.Manager({
      ready: function() {
        Visio.router = new Visio.Routers.AlgorithmsRouter();
        Backbone.history.start();
      }
    });
  });

