
#map

:javascript
  $(document).ready(function() {

    Visio.manager = new Visio.Models.Manager({ mapMD5: '#{@mapMD5}' })

    window.router = new Visio.Routers.IndexRouter();
    Backbone.history.start();

  });
