.map-container
  #map

:javascript
  $(document).ready(function() {


    Visio.manager = new Visio.Models.Manager({
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe}),
      ready: function() {
        Visio.router = new Visio.Routers.IndexRouter({
          mapMD5: '#{@mapMD5}',
        });
        Backbone.history.start();
      }
    })


  });
