
.signin.session-container.full-wrapper
.signup.session-container.full-wrapper

:javascript
  $(document).ready(function() {

    window.router = new Visio.Routers.SplashRouter();
    Backbone.history.start();

  });
