.map-container
  #map

:javascript
  $(document).ready(function() {

    var ready = function() {
      Visio.router = new Visio.Routers.IndexRouter({
        mapMD5: '#{@mapMD5}',
      });
      Backbone.history.start();
    }

    Visio.manager = new Visio.Models.Manager({
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe}),
      personal_strategies: new Visio.Collections.Strategy(#{@personal_strategies.to_json.html_safe}),
      ready: ready
    })

    if (!Visio.manager.get('use_local_db'))
      ready()


  });
