.navigation-activation.margin-left
  .navigation-activation-icon

.inner-content.container.full-width
  %aside.toolbar.gone
  #strategy-snapshot

  #module.zero-padding

:javascript
  $(document).ready(function() {
    var $navigationIcon = $('.navigation-activation-icon');
    var $toolbar = $('.toolbar')
    var $innerContent = $('.inner-content');
    var headerHeight = $('header').height();
    var bottomOffset = 300

    $('.navigation-activation').on('mouseenter', function(e) {
      if (!Visio.manager.get('setup')) return;
      $('.page').addClass('shift');
      $(e.currentTarget).addClass('zero-width');
    })

    $('#navigation').on('mouseleave', function(e) {
      $('.page').removeClass('shift');
      $('.navigation-activation').removeClass('zero-width');
    })

    $(document).scroll(function(e) {
      var scrollTop = $(document).scrollTop()
      $navigationIcon.css('top', scrollTop + 140);
      if (scrollTop > headerHeight) {
        if (!$toolbar.hasClass('fixed-top')) {
          $toolbar.addClass('fixed-top');
          $innerContent.css('margin-top', $toolbar.outerHeight() + 'px');
        }
      } else {
        $toolbar.removeClass('fixed-top');
        $innerContent.css('margin-top', 0);
      }

      if (scrollTop + $(window).height() + bottomOffset > $(document).height()) {
        $.publish('scroll.bottom')
      }

    })

    var ready = function() {
      Visio.router = new Visio.Routers.OperationRouter()

      Backbone.history.start();
    }



    Visio.manager = new Visio.Models.Manager({
      dashboard: new Visio.Models.Operation(#{@operation.to_json(@options).html_safe}),
      aggregation_type: Visio.Parameters.PPGS.plural,
      operations: new Visio.Collections.Operation([#{@operation.to_json(@options).html_safe}]),
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe}),
      personal_strategies: new Visio.Collections.Strategy(#{@personal_strategies.to_json.html_safe}),
      ready: ready
    });

    if (!Visio.manager.get('use_local_db'))
      ready()

  });
