#navigation
#strategy-snapshot.container
#achievement-budget-single-year.container

:javascript
  $(document).ready(function() {

    Visio.manager = new Visio.Models.Manager({
      strategy_id: #{@strategy_id},
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe})
    })

    Visio.router = new Visio.Routers.OverviewRouter();
    Backbone.history.start();

  });
