.navigation-activation.margin-left
  .navigation-activation-icon

.inner-content.container.full-width
  %aside.full-width.toolbar.gone
  #strategy-snapshot

  #module.container.full-width.zero-padding

:javascript
  $(document).ready(function() {
    var $navigationIcon = $('.navigation-activation-icon');
    var $toolbar = $('.toolbar')
    var headerHeight = $('header').height();

    $('.navigation-activation').on('mouseenter', function(e) {
      if (!Visio.manager.get('setup')) return;
      $('.page').addClass('shift');
      $(e.currentTarget).addClass('zero-width');
    })

    $('#navigation').on('mouseleave', function(e) {
      $('.page').removeClass('shift');
      $('.navigation-activation').removeClass('zero-width');
    })

    $(document).scroll(function(e) {
      var scrollTop = $(document).scrollTop()
      $navigationIcon.css('top', scrollTop + 140);
      if (scrollTop > headerHeight) {
        if (!$toolbar.hasClass('fixed-top'))
          $toolbar.addClass('fixed-top');
      } else {
        $toolbar.removeClass('fixed-top');
      }



    })

    Visio.manager = new Visio.Models.Manager({
      strategy_id: #{@strategy.id},
      strategies: new Visio.Collections.Strategy(#{@strategies.to_json.html_safe}),
      ready: function() {
        Visio.router = new Visio.Routers.OverviewRouter();
        Backbone.history.start();

      }
    });



  });
