
.signin.session-container
.signup.session-container

:javascript
  $(document).on('ready page:load', function() {

    Visio.router = new Visio.Routers.SplashRouter();
    Backbone.history.start();

  });
