<% _.each(strategies, function(strategy) { %>
<div>
  <a href="#edit/<%= strategy.id %>"><%= strategy.name %></a>
  <a href="#destroy/<%= strategy.id %>">X</a>
</div>
<% }) %>
<a href="#new" class="new" style="color:black">+ Strategy</a>
