@import "../shared/variables.css.scss";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato/Lato-Bold.ttf') format('truetype');
}

@-webkit-keyframes flash {
  0% { background-color: $white; }
  50% { background-color: $soft-glow; }
  100% { background-color: $white; }
}

@-mox-keyframes flash {
  0% { background-color: $white; }
  50% { background-color: $soft-glow; }
  100% { background-color: $white; }
}

@-o-keyframes flash {
  0% { background-color: $white; }
  50% { background-color: $soft-glow; }
  100% { background-color: $white; }
}

@keyframes flash {
  0% { background-color: $white; }
  50% { background-color: $soft-glow; }
  100% { background-color: $white; }
}
.flash {
  -webkit-animation: flash 1000ms 1;
  -moz-animation: flash 1000ms 1;
  -o-animation: flash 1000ms 1;
  animation: flash 1000ms 1;
}

ul {
  padding: 0;
  margin: 0
}

p.small {
  font-size: .8em;
}

.text {
  max-width: 800px;
}

.content {
  position: relative;
}

.inner-content {
  border-left: $page-margin solid white;
  border-right: $page-margin solid white;

  .row {
    max-width: $row-inner-width;
    margin: 0 auto;
  }
}

.ui-big-number {
  color: $bright-yellow;
  font-size: 3.6em;
}

.ui-huge-number {
  color: $bright-yellow;
  font-size: 6em;
  line-height: 1em;
}

.ui-primary-theme {
  background-color: $primary;
  color: $white;
}

.ui-orange-theme {
  color: $white;
  background-color: $orange;

  .logo:before {
    background-image: url(/assets/logo_white.png);
  }


  .menu-icon {
    .menu-row {
      background-color: $white;
    }
  }

  .highlight {
    color: $white;
  }
}

.ui-primary-dark-theme {
  background-color: $primary-dark;
  color: $white;
}

.ui-line-item-theme {
  background-color: $black;
  color: $white;
  padding-left: $content-margin;
  padding-right: $content-margin;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 300;
}

.tooltip-content a.ui-line-item-theme {
  color: $white;
}

.collapsable-content {
  overflow: hidden;
}

.ui-primary-soft-theme {
  background-color: $primary-soft;
  color: $white;
}

.ui-primary-medium-dark-theme {
  background-color: $primary-medium-dark;
  color: $white;
}

.ui-primary-medium-theme {
  background-color: $primary-medium;
  color: $white;
}

.ui-invert-theme {
  background-color: white;
  color: $primary;

  .highlight {
    color: $primary-light;
  }

  a {
    color: $primary-light;
  }
}

.ui-purple-theme {
  background-color: $purple;
  color: $white;
}

.logo-circle img {
  width: 160px;
}

body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

body.splash {
  -moz-transition:background-color $medium-transition;
  -webkit-transition:background-color $medium-transition;
  -o-transition:background-color $medium-transition;
  transition:background-color $medium-transition;

}

body.layout-application {

  header section {
    border-bottom: 1px solid $primary-light;
    .logo {
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
}

header {
  background-color: inherit;

  section {
    background-color: inherit;
  }
}

body.index {
  overflow: hidden;
}

.session-container {
  position: relative;
}

.ui-primary-soft {
  color: $primary-soft;
}

.ui-purple {
  color: $purple;
}

.ui-primary {
  color: $primary;
}

.ui-primary-light {
  color: $primary-light
}

.ui-bright {
  color: $bright;
}

.ui-bright-yellow {
  color: $bright-yellow;
}

.ui-secondary {
  color: $secondary;
}

.ui-thirdary {
  color: $thirdary;
}

.ui-white {
  color: $white;
}

.menu-item, {
  margin: .3em 1.5em;
}

.small-item, .tab {
  margin: .3em .8em;
}

.list-content {
  margin-left: $content-margin;
  min-height: 400px;
}

.parameter-search {
  background-color: $dark-gray;
  width: 220px;
  color: $white;
}

.parameter-search, .parameter-search:focus {
  -moz-transition:padding $medium-transition,width $medium-transition;
  -webkit-transition:padding $medium-transition,width $medium-transition;
  -o-transition:padding $medium-transition,width $medium-transition;
  transition:padding $medium-transition,width $medium-transition;
}

.tab {
  padding-top: 14px;
  margin-bottom: 0px;
  cursor: pointer;
}

.tab.selected {
  color: $primary;
}

.items {
  overflow: auto;
  max-height: 300px;
}

.item {
  line-height: 2.2em;
  font-weight: 300;
}

.divider {
  padding: 0;
  border-bottom: 1px solid $white;
}

.divider-primary {
  border: none;
  border-bottom: 1px solid $primary;
}

.divider-primary-light {
  border: none;
  border-bottom: 1px solid $primary-light;
}

.full-wrapper {
  min-height: 100%;
  min-width: 100%;
}

.ui-medium-header {
  font-size: 2.2em;
  letter-spacing: -.02em;
}

.ui-small-header {
  font-size: 1.7em;
  letter-spacing: -.02em;
}

.ui-extra-small-header {
  font-size: 1.4em;
  letter-spacing: -.02em;
}

.ui-large-header {
  font-size: 3.3em;
  letter-spacing: -.02em
}

.ui-active {
  background-color: $secondary;
  color: inherit;
}

.ui-active:hover {
  background-color: $thirdary;
  color: $primary;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.justify-text {
  text-align:justify;
  text-justify:inter-word;
}

.thematic-item {
  height: 2.4em;
}

.thematic-item:hover {
  text-decoration: none;
}

.theme-content {
  position: relative;
  top: -1.4em;
  pointer-events: none;
}


.logo:before {
  background-image: url(/assets/logo.png);
  background-size: 1.5em;
  content: "";
  height: 1.5em;
  display: inline-block;
  width: 2em;
  background-repeat: no-repeat;
  position: relative;
  top: .4em;
  left: .4em;
}

.logo-white:before {
  background-image: url(/assets/logo_white.png);
}

.underline {
  position: relative;
  color: transparent;
  border-bottom: 1.5px solid $primary-light;
  min-width: 14px;
  width: 0%;

  -moz-transition:width $medium-transition;
  -webkit-transition:width $medium-transition;
  -o-transition:width $medium-transition;
  transition:width $medium-transition;
}

.underline:hover {
  width: 100%;
}

.gone {
  display: none !important;
}

::selection {
	background: $selection; /* Safari */
	}
::-moz-selection {
	background: $selection; /* Firefox */
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: none;

  -moz-transition:background-color $fast-transition;
  -webkit-transition:background-color $fast-transition;
  -o-transition:background-color $fast-transition;
  transition:background-color $fast-transition;
}

.zero-padding {
  padding: 0 !important;
}

.full-width {
  width: 100%
}

.zero-width {
  width: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.zero-height {
  height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.zero-max-height {
  max-height: 0px !important;
}

button, input {
  padding: .2em .8em;
  line-height: 2em;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.inline-block {
  display: inline-block;
}

.btn {
  border: none;
}

.check-boxes {
  overflow: auto;
  max-height: 300px;
  min-height: 300px;
  width: 600px;
}

.ui-blank-radio {
  line-height: 1em;
  padding: 3px 0;
}

.ui-blank-radio input {
  display: none;
}

.ui-tab-radio input {
  display: none;
}

.ui-tab-radio label {
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
}

.ui-tab-radio input[type="radio"]:checked + label {
  color: $orange;
  border: 1px solid $light-gray;
  border-bottom: none;
}

.visio-check input {
  display: none;
}

.visio-check label {
  display: block;
  cursor: pointer;
}

.visio-check label:before {
  content: ' ';
  border: 1px solid $white;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  float: right;
  margin-left: 6px;
}

.visio-check input:checked + label:before {
  content: ' ';
  border: 3px solid $turquoise;
}

.visio-check-yellow label:before {
  content: ' ';
  float: left;
  margin-right: 6px;
  margin-left: 0px;
}

.visio-check-yellow input:checked + label:before {
  content: ' ';
  border: 3px solid $yellow;
}

.dropdown-item:hover, .count:hover {
  background-color: black;
  text-decoration: none;
  cursor: pointer;
}

/*.dropdown {
  overflow: hidden;
  max-height: 300px;
  -moz-transition:max-height $medium-transition;
  -webkit-transition:max-height $medium-transition;
  -o-transition:max-height $medium-transition;
  transition:max-height $medium-transition;
  margin-top: 4px;

}*/

.dropdown-item {
  border-bottom: 1px solid $white;
  width: $map-filter-width;
}
.dropdown-item:last-child {
  border-bottom: none;
}

.map-filter {
  margin-bottom: 1em;
  margin-left: 1em;
}

.map-filters {
  margin-left: 1em;
  position: absolute;
  margin-top: 1em;
  z-index: 100;
}

.zoom-btn {
  display: inline-block;
  background-color: $white;
  width: 30px;
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  cursor: pointer;
  border: 1px solid $light-gray;
}

.zoom-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.zoom-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

.zoom-btn:hover {
  background-color: darken($white, 5%);
}

.close {
  width: 3em;
  height: 3em;
  background-color: $light-gray;
  position: absolute;
  top: .8em;
  right: .8em;
  cursor: pointer;
}

.parameter-list {
  background-color: $white;
  margin-bottom: 8px;
  margin-top: 25px;
}

.overlay {
  position: absolute;
  z-index: 400;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $secondary;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $secondary;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $secondary;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $secondary;
}

.white-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    $white;
}
.white-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $white;
}
.white-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $white;
}
.white-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $white;
}

/* tooltip */

.tooltip {
  position: absolute;
  top: 135px;

  .count {
    border-bottom: 1px solid $white;
    cursor: pointer;
    display: block;
  }

  .count.last {
    border-bottom: none;
  }


}

.tooltip-transition {
  -moz-transition:top $medium-transition cubic-bezier(1,1.69,.24,.69);
  -webkit-transition:top $medium-transition cubic-bezier(1,1.69,.24,.69);
  -o-transition:top $medium-transition cubic-bezier(1,1.69,.24,.69);
  transition:top $medium-transition cubic-bezier(1,1.69,.24,.69);
}

.tooltip-content {
  position: absolute;
  right: 0;
  bottom: $pin-extra-large / 2;
  min-width: 190px;
  background-color: $fail;
  z-index: 99;

  .operation {
    padding-left: $content-margin;
    padding-right: $content-margin;
    padding-bottom: 15px;
    padding-top: 8px;
    font-weight: 300;
    line-height: 1.1em;
  }

  .tooltip-content-bottom {
    height: 10px;
    background-color: $fail;
  }

  .tooltip-close {
    width: 2em;
    height: 2em;
    background-color: $fail-dark;
    position: absolute;
    top: 0;
    right: -2em;
    cursor: pointer;
  }
}

.tooltip-content.tooltip-success {
  background-color: $success;
  .tooltip-content-bottom {
    background-color: $success;
  }
  .tooltip-close {
    background-color: $success-dark;
  }
}

.tooltip-content.tooltip-ok {
  background-color: $ok;
  .operation {
    color: $primary;
  }
  .tooltip-content-bottom {
    background-color: $ok;
  }
  .tooltip-close {
    background-color: $ok-dark;
  }
}
.tooltip-content.tooltip-fail {
  background-color: $fail;
  .tooltip-content-bottom {
    background-color: $fail;
  }
  .tooltip-close {
    background-color: $fail-dark;
  }
}


.tooltip-content.tooltip-fail.darken {
  background-color: darken($fail, 5%);
  .tooltip-content-bottom {
    background-color: darken($fail, 5%);
  }
  .tooltip-close.darken {
    background-color: darken($fail-dark, 5%);
  }
}

.tooltip-content.tooltip-ok.darken {
  background-color: darken($ok, 5%);
  .tooltip-content-bottom {
    background-color: darken($ok, 5%);
  }
  .tooltip-close.darken {
    background-color: darken($ok-dark, 5%);
  }
}
.tooltip-content.tooltip-success.darken {
  background-color: darken($success, 5%);
  .tooltip-content-bottom {
    background-color: darken($success, 5%);
  }
  .tooltip-close.darken {
    background-color: darken($success-dark, 5%);
  }
}


/* end tooltip */

/* pin */
.pin {
  width: $pin-medium;
  height: 2 * $pin-medium;
  position: relative;
  .pin-tip {
    width: 0;
    height: 0;
    border-top: ($pin-medium / 2) solid transparent;
    border-bottom: ($pin-medium / 2) solid transparent;
    border-left: ($pin-medium / 2) solid $fail-dark;
    position:absolute;
    right: 0;
    bottom: 0;
  }
  .pin-body {
    width: $pin-medium;
    height: 1.5 * $pin-medium;
    background-color: $fail;
    position: absolute;
  }
}

.pin.pin-small {
  width: $pin-small;
  height: 2 * $pin-small;

  .pin-tip {
    border-top: ($pin-small / 2) solid transparent;
    border-bottom: ($pin-small / 2) solid transparent;
    border-left: ($pin-small / 2) solid $fail-dark;
  }
  .pin-body {
    width: $pin-small;
    height: 1.5 * $pin-small;
  }

}

.pin.pin-large {
  width: $pin-large;
  height: 2 * $pin-large;

  .pin-tip {
    border-top: ($pin-large / 2) solid transparent;
    border-bottom: ($pin-large / 2) solid transparent;
    border-left: ($pin-large / 2) solid $fail-dark;
  }
  .pin-body {
    width: $pin-large;
    height: 1.5 * $pin-large;
  }

}

.pin.pin-extra-large {
  width: $pin-extra-large;
  height: 2 * $pin-extra-large;

  .pin-tip {
    border-top: ($pin-extra-large / 2) solid transparent;
    border-bottom: ($pin-extra-large / 2) solid transparent;
    border-left: ($pin-extra-large / 2) solid $fail-dark;
  }
  .pin-body {
    width: $pin-extra-large;
    height: 1.5 * $pin-extra-large;
  }

}

.pin.pin-white {
  .pin-tip {
    border-left-color: $light-gray;
  }

  .pin-body {
    background-color: $white;
  }
}

.pin.pin-fail {
  .pin-tip {
    border-left-color: $fail-dark;
  }

  .pin-body {
    background-color: $fail;
  }
}

.pin.pin-success {
  .pin-tip {
    border-left-color: $success-dark;
  }

  .pin-body {
    background-color: $success;
  }
}

.pin.pin-ok {
  .pin-tip {
    border-left-color: $ok-dark;
  }

  .pin-body {
    background-color: $ok;
  }
}
#navigation {
  width: $navigation-width;
  overflow-x: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $black;
}

.ui-accordion-content {
  max-height: 0px;
  overflow: auto;

  -moz-transition:max-height $medium-transition;
  -webkit-transition:max-height $medium-transition;
  -o-transition:max-height $medium-transition;
  transition:max-height $medium-transition;
}

.ui-accordion-content.opened {
  max-height: $accordion-max-height;
}

.ui-accordion-container .open {
  cursor: pointer;
}

.ui-accordion-container .open:after {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  float: right;
  background-image: url(/assets/logo_white.png);
  background-size: 12px 12px;
  content: "";
  background-repeat: no-repeat;
}

.ui-accordion-container.opened .open:after {
  background-image: url(/assets/logo.png);
}

/* meter */

.meter {
  height: $meter-height;  /* Can be anything */
	position: relative;
	background: $light-gray;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  margin: 0 30px;
}

.meter > span {
	display: block;
	height: $meter-height;
	   -webkit-border-top-right-radius: $meter-height;
	-webkit-border-bottom-right-radius: $meter-height;
	       -moz-border-radius-topright: $meter-height;
	    -moz-border-radius-bottomright: $meter-height;
	           border-top-right-radius: $meter-height;
	        border-bottom-right-radius: $meter-height;
	    -webkit-border-top-left-radius: $meter-height;
	 -webkit-border-bottom-left-radius: $meter-height;
	        -moz-border-radius-topleft: $meter-height;
	     -moz-border-radius-bottomleft: $meter-height;
	            border-top-left-radius: $meter-height;
	         border-bottom-left-radius: $meter-height;
	background-color: $primary-light;
  position: relative;
	overflow: hidden;

  -moz-transition:width $medium-transition;
  -webkit-transition:width $medium-transition;
  -o-transition:width $medium-transition;
  transition:width $medium-transition;
}

.target-countries {
  max-height: 300px;
  overflow: auto;
  font-size: 1.2em;
}

.search-icon {
  background-color: $primary-light;
  height: $search-icon;
  width: $search-icon;
  border-radius: $search-icon;
  -webkit-border-radius: $search-icon;
  -moz-border-radius: $search-icon;
  cursor: pointer;
  background-image: url(/assets/icons/search.png);
  background-size: $search-icon / 2;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-icon {
  display: block;
  cursor: pointer;
  position: relative;
  .menu-row {
    background-color: $primary-light;
    width: 3em;
    height: 3px;
    width: $menu-row;
    margin: 3px auto;
       -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
           -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
               border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        -webkit-border-top-left-radius: 6px;
     -webkit-border-bottom-left-radius: 6px;
            -moz-border-radius-topleft: 6px;
         -moz-border-radius-bottomleft: 6px;
                border-top-left-radius: 6px;
             border-bottom-left-radius: 6px;
  }
}
.menu-icon:before {
  position: absolute;
  content: 'MENU';
  left: 1.5 * $menu-row;
  top: -2px;
}

.menu-icon.menu-right:before {
  left: -54px;
}

.extra-padding {
  padding-top: 20px
}

.strategy-description {
  padding-bottom: 30px;
}

.bottom-shadow {
  -moz-box-shadow:    0px 3px 5px -3px $light-gray;
  -webkit-box-shadow: 0px 3px 5px -3px $light-gray;
  box-shadow:         0px 3px 5px -3px $light-gray;
}

.inset-shadow {
   -moz-box-shadow:    inset 0px 10px 10px -10px $light-gray;
   -webkit-box-shadow:    inset 0px 10px 10px -10px $light-gray;
   box-shadow:    inset 0px 10px 10px -10px $light-gray;
}

.toolbar {
  background-color: white;
  padding: 12px 0;
  z-index: 300;
  height: $toolbar-height;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.module:before {
  display: block;
  content: ' ';
  margin-top: -$toolbar-height;
  height: $toolbar-height;
  visibility: hidden;
}

.data-container {
  max-height: 0px;
  overflow: hidden;
  -moz-transition:max-height $fast-transition;
  -webkit-transition:max-height $fast-transition;
  -o-transition:max-height $fast-transition;
  transition:max-height $fast-transition;
}

.isy-container:hover {
  background-color: white;
  cursor: pointer;
}

.isy-container.open {
  background-color: white;

  .data-container {
    max-height: 420px;
  }
}

.isy-container.disabled {
  pointer-events: none;
  opacity: .7;
}

.page {
  position: absolute;
  right: 0;
  left: 0;
  background-color: inherit;
  -moz-transition:left $very-fast-transition ease-out;
  -webkit-transition:left $very-fast-transition ease-out;
  -o-transition:left $very-fast-transition ease-out;
  transition:left $very-fast-transition ease-out;
}

.shift {
  left: $navigation-width;
}

input[type="radio"] + label {
  cursor: pointer;
  display: block;
}

input[type="radio"]:checked + label {
  color: $bright-yellow;
}

.strategy-snapshot {
  padding-bottom: 40px;
}

.vertical-divider {
  border-left: 1px solid $light-gray;
  width: 1px;
  height: 320px;
  margin: 20px;
}

.info-container {
  position: relative;
  height: 160px;
}

.bubble-info {
  height: 160px;
}

.menu {
  background-color: $orange;
  height: 100%;
  border-top: 1px solid $white;
}

.navigation-activation-icon {
  width: $page-margin;
  height: $page-margin;
  position: absolute;
  top: 140px;
  background-image: url(/assets/visio-side_menu_icon.png);
  background-size: $page-margin;
  -moz-transition:top $faster-transition ease-out;
  -webkit-transition:top $faster-transition ease-out;
  -o-transition:top $faster-transition ease-out;
  transition:top $faster-transition ease-out;

}

.navigation-activation {
  position: absolute;
  height: 100%;
  width: $page-margin;
  top: 0;
  left: 0;
  z-index: 10;
  background-color:white;
  overflow: hidden;
  -moz-transition:width $very-fast-transition ease-out;
  -webkit-transition:width $very-fast-transition ease-out;
  -o-transition:width $very-fast-transition ease-out;
  transition:width $very-fast-transition ease-out;
}

.transparent {
  opacity: 0 !important;
}

#global-search {
  overflow: hidden;
  -moz-transition:max-height $fast-transition;
  -webkit-transition:max-height $fast-transition;
  -o-transition:max-height $fast-transition;
  transition:max-height $fast-transition;
  max-height: 50px;

}

#global-search .container {
  background-color: $bright-yellow;
}

#global-search .search-container {
  padding: 6px 0;
}

#global-search input {
  background-color: $bright-yellow;
  font-size: 1.3em;
  line-height: normal;
}

.divider {
  border-top: 1px $divider-top solid;
  border-bottom: 1px $divider-bottom solid;
}

.divider-white {
  border-bottom: 1px $white solid;
}

.target-country-count {
  position: absolute;
  left: -110px;
  top: 60px
}

.results {
  -moz-transition:height $fast-transition;
  -webkit-transition:height $fast-transition;
  -o-transition:height $fast-transition;
  transition:height $fast-transition;
  overflow: hidden;
}

.search-item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;

  em {
    font-style: normal;
    color: $bright-yellow;
  }
}

#achievement-budget-single-year {
  padding-bottom: 120px;
}

#module {
  background-color: $off-white;
  min-height: 800px;
}

[data-prefix]:before {
  content: attr(data-prefix) ': ';
  display: inline;
}

