@import "../shared/variables";

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
  cursor: pointer;
}

.country:hover, .country.active {
  fill: darken($country-color, 10%);
}

line {
  shape-rendering: crispEdges;
}

.svg-bmy-figure {
  .budget-line {
    stroke: black;
    fill: none;
    stroke-width: 4px;

  }
  .budget-line.active {
    stroke: red;
  }
  .ADMIN {
    stroke: $admin;
  }
  .STAFF {
    stroke: $staff;
  }
  .PROJECT {
    stroke: $project;
  }
  .PARTNER {
    stroke: $partner;
  }
  .PILLAR-1 {
    stroke: $pillar1;
  }
  .PILLAR-2 {
    stroke: $pillar2;
  }
  .PILLAR-3 {
    stroke: $pillar3;
  }
  .PILLAR-4 {
    stroke: $pillar4;
  }
  .Above-Operating-Level {
    stroke: $primary-soft;
  }
  .Operating-Level {
    stroke: $primary-light;
  }
  .total {
    stroke: $total;
    stroke-width: 6px;
  }
  .point {
    fill: white;
    stroke-width: 2px;
  }
  .axis line {
    stroke: black;
  }
}

.axis path {
  fill: none;
}

.svg-absy-figure {
  .point-container.focus .point {
    fill: $orange;
  }

  .point-container.active .point {
    fill: white;
    stroke: $primary;
    stroke-width: 2px;
  }

  .point-container {
    .label {
      pointer-events: none;
      font-weight: bold;
    }
  }

  .trail {
    stroke: black;
    stroke-dasharray: 5 5;
    pointer-events: none;
  }

  .point {
    fill: $pink;
    pointer-events: none;
  }

  .y.axis line {
    stroke: $lighter-gray;
    stroke-dasharray: 1;
  }

  .y.axis text, .x.axis > text {
    fill: $black;
  }

  .x.axis path {
    stroke: none;
  }

  .x.axis line {
    stroke: none;
  }

  .x.axis text {
    fill: $black;
  }
}

.svg-circle-figure {
  .background {
    fill: white;
    stroke: $light-gray;
  }

}

.voronoi, .voronoiPoint {
  fill: transparent;
}

.svg-oasy-figure, .svg-pasy-figure, .svg-icsy-figure {
  .label {
    fill: $primary-soft;
    font-weight: bold;

    tspan {
      fill: $orange;
    }
  }
}

.svg-icmy-figure {
  .point {
    fill: white;
    stroke-width: 2px;
  }
  .point.ok {
    stroke: $ok;
  }
  .point.success {
    stroke: $success;
  }
  .point.fail {
    stroke: $fail;
  }
  .point.missing {
    stroke: $missing;
  }
  .point.high {
    stroke: $high;
  }
  .point.medium {
    stroke: $medium;
  }
  .point.low {
    stroke: $low;
  }

  .ic-line {
    stroke-width: 4px;
  }

  .x.axis .active {
    fill: red;
  }

  .y.axis line {
    stroke: $lighter-gray;
    stroke-dasharray: 1;
  }

}

.svg-isy-figure {
  .myr-bar {
    fill: orange;
  }
  .yer-bar {
    fill: rgb(11, 217, 255);
  }
  .axis {
    line:last-child {
      stroke: black;
    }
  }
  .bar {
    stroke: white;
    pointer-events: none;
  }
  .bar-container {
    fill: $off-white;
  }
  .bar-container.inconsistent {
    fill: $alert-red;
  }
  .box.faded {
    opacity: .6;
  }
  .box.active {
    stroke: black;
    stroke-width: 1px;
  }
  .box {
    -moz-transition:opacity $fast-transition;
    -webkit-transition:opacity $fast-transition;
    -o-transition:opacity $fast-transition;
    transition:opacity $fast-transition;
    line {
      stroke: $dark-gray;
      pointer-events: none;
    }
  }

  .target {
    fill: yellow;
    stroke: $black;

    text {
      font-size: 11px;
    }
  }

  .baseline {
    fill: $primary;
    stroke: $black;

    text {
      stroke: white;
      font-size: 11px;
    }
  }

  .circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    pointer-events: none;
  }

  .label {
    pointer-events: none;
  }

  .tag {
    fill: white;
    stroke: $black;
  }
}

.spark-bar-graph {
  margin-right: -2px;
}

.bar.success {
  fill: $success;
}
.bar.ok {
  fill: $ok;
}
.bar.fail {
  fill: $fail;
}
.bar.missing {
  fill: $dark-gray;
}

.bar.high {
  fill: $high;
}
.bar.medium {
  fill: $medium;
}
.bar.low {
  fill: $low;
}

path.success {
  stroke: $success;
  fill: none;
}
path.ok {
  stroke: $ok;
  fill: none;
}
path.fail {
  stroke: $fail;
  fill: none;
}
path.missing {
  stroke: $dark-gray;
  fill: none;
}

path.high {
  stroke: $high;
  fill: none;
}
path.medium {
  stroke: $medium;
  fill: none;
}
path.low {
  stroke: $low;
  fill: none;
}

.graph-container {
  fill: transparent;
}

