@import "../shared/variables";

.background-rect {
  fill: $map-background;
}


line {
  shape-rendering: crispEdges;
}

.svg-bmy-figure, .svg-bmys-figure {
  .budget-line {
    stroke: $light-gray;
    stroke-width: 2px;
  }
  .budget-line.active {
    stroke: $black;
  }

  .budget-point {
    stroke: $light-gray;
    fill: $light-gray;
  }

  .budget-point-line {
    stroke: $dark-gray;
    stroke-dasharray: 1;
  }

  .voronoi:hover {
    cursor: pointer;
  }

  .budget-point.active {
    stroke: $black;
    fill: $black;
  }

  .budget-point-shadow-selected {
    opacity: .4;
  }

  .ADMIN {
    stroke: $admin;
    fill: $admin;
  }
  .STAFF {
    stroke: $staff;
    fill: $staff;
  }
  .PROJECT {
    stroke: $project;
    fill: $project;
  }
  .PARTNER {
    stroke: $partner;
    fill: $partner;
  }
  .PILLAR-1, .LYPK {
    stroke: $pillar1;
    fill: $pillar1;
  }
  .PILLAR-2, .LYPM {
    stroke: $pillar2;
    fill: $pillar2;
  }
  .PILLAR-3, .LYPN {
    stroke: $pillar3;
    fill: $pillar3;
  }
  .PILLAR-4, .LYPL {
    stroke: $pillar4;
    fill: $pillar4;
  }
  .Above-Operating-Level {
    stroke: $primary-soft;
    fill: $primary-soft;
  }
  .Operating-Level {
    stroke: $primary-light;
    fill: $primary-light;
  }
  .total {
    stroke: $total;
    fill: $total;
    stroke-width: 6px;
  }

  .budget-line {
    fill: none;
  }

  .budget-point-total {
    stroke: $black;
    fill: $black;
  }

  .budget-point-ADMIN {
    fill: $admin;
  }
  .budget-point-STAFF {
    fill: $staff;
  }
  .budget-point-PROJECT {
    fill: $project;
  }
  .budget-point-PARTNER {
    fill: $partner;
  }
  .budget-point-PILLAR-1, .budget-point-LYPK {
    fill: $pillar1;
  }
  .budget-point-PILLAR-2, .budget-point-LYPM {
    fill: $pillar2;
  }
  .budget-point-PILLAR-3, .budget-point-LYPN {
    fill: $pillar3;
  }
  .budget-point-Above-Operating-Level {
    fill: $primary-soft;
  }
  .budget-point-Operating-Level {
    fill: $primary-light;
  }
  .point {
    fill: white;
    stroke: $black;
    stroke-width: 2px;
  }
  .y.axis line {
    stroke: $lighter-gray;
  }


  .y.axis text, .x.axis text {
    fill: $black;
  }

}

.axis path {
  fill: none;
}
.axis text tspan:first-child {
  font-size: 13px;
  fill: $orange;
}

.axis text tspan {
  font-size: 11px;
}

.svg-map-figure {
  .country.available {
    cursor: pointer;
  }
  .country.available:hover {

  }
  .country {
    fill: $country-color;
    stroke-width: .5px;
    stroke: $map-background;
  }
  .country.selected {
    stroke-width: 2px;
    stroke: $black;
  }
}

.svg-absy-figure {

  .point-container.focus .point, .point-container.focus .point-shadow {
    fill: $orange;
  }

  /* active is for datums chosen when exporting */
  .point-container.active .point, .point-container.active .point-shadow {
    fill: $orange;
  }

  /* selected is for the datum that is clicked */
  .point-container.selected .point, .point-container.selected .point-shadow {
    fill: $orange;
  }

  /* queried are points found when searching the graph */
  .point-container.queried .point, .point-container.queried .point-shadow {
    fill: $yellow-green;
  }

  .voronoi {
    cursor: pointer;
  }

  .point-container .point-shadow {
    opacity: .4;
  }

  .point-container {
    .label {
      pointer-events: none;
      font-weight: bold;
    }
  }

  .trail {
    stroke: black;
    stroke-dasharray: 5 5;
    pointer-events: none;
  }

  .point, .point-container {
    fill: $purple;
    pointer-events: none;
  }

  .point.external {
    fill: lighten($purple, 20%);
  }

  .x.axis line {
    stroke: $lighter-gray;
  }

  .axis text tspan:first-child {
    font-size: 13px;
    fill: $orange;
  }
  .axis text tspan {
    font-size: 11px;
  }

  .y.axis text, .x.axis > text {
    fill: $black;
  }

  .x.axis text {
    fill: $black;
  }

  .x.axis .tick:nth-of-type(1) {
    display: none;
  }
}

.svg-circle-figure {
  .background {
    fill: white;
    stroke: $light-gray;
  }

}

.voronoi, .voronoiPoint {
  fill: transparent;
}

.svg-oasy-figure, .svg-pasy-figure, .svg-icsy-figure {
  .label {
    fill: $black;
    font-weight: normal;

    tspan {
      fill: $orange;
    }
  }
}

.svg-icmy-figure {
  .voronoi {
    cursor: pointer;
  }
  .point {
    fill: white;
    stroke-width: 2px;
  }
  .point.ok {
    stroke: $ok;
  }
  .point.success {
    stroke: $success;
  }
  .point.fail {
    stroke: $fail;
  }
  .point.missing {
    stroke: $missing;
  }
  .point.high {
    stroke: $high;
  }
  .point.medium {
    stroke: $medium;
  }
  .point.low {
    stroke: $low;
  }

  .icmy-point-selected.success, .icmy-point-shadow-selected.success  {
    fill: $success;
  }
  .icmy-point-selected.ok, .icmy-point-shadow-selected.ok  {
    fill: $ok;
  }
  .icmy-point-selected.fail, .icmy-point-shadow-selected.fail  {
    fill: $fail;
  }
  .icmy-point-selected.missing, .icmy-point-shadow-selected.missing  {
    fill: $missing;
  }
  .icmy-point-selected.high, .icmy-point-shadow-selected.high  {
    fill: $high;
  }
  .icmy-point-selected.medium, .icmy-point-shadow-selected.medium  {
    fill: $medium;
  }
  .icmy-point-selected.low, .icmy-point-shadow-selected.low  {
    fill: $low;
  }

  .icmy-point-shadow-selected {
    opacity: .4;
  }

  .icmy-point-line {
    stroke: $dark-gray;
    stroke-dasharray: 1;
  }
  .ic-line {
    stroke-width: 4px;
  }

  .x.axis .active {
    fill: red;
  }

  .y.axis line {
    stroke: $lighter-gray;
  }

}

.svg-bsy-figure {
  .bar {
    stroke: none;
    pointer-events: none;
  }
  .bar-container {
    fill: white;
    stroke: none;
  }

  .scenario-bar {
    fill: $scenario-bar;
  }

  .box:hover, .box.selected, .box.active {
    .scenario-bar.Operating-Level-bar.budget-bar {
      fill: $scenario-bar-ol;
    }
    .scenario-bar.Above-Operating-Level-bar.budget-bar {
      fill: $scenario-bar-aol;
    }
    .scenario-bar.Operating-Level-bar.expenditure-bar {
      fill: $scenario-bar-exp;
    }

    .ADMIN-bar {
      fill: $admin-hover;
    }
    .STAFF-bar {
      fill: $staff-hover;
    }
    .PROJECT-bar {
      fill: $project-hover;
    }
    .PARTNER-bar {
      fill: $partner-hover;
    }

    cursor: pointer;

  }


  .bar-container.hover {
  }

  .bar-container.selected {
  }
  .box.faded {
    opacity: .6;
  }
  .box.box-invisible {
    opacity: 0;
  }
  .box {
    -moz-transition:opacity $fast-transition;
    -webkit-transition:opacity $fast-transition;
    -o-transition:opacity $fast-transition;
    transition:opacity $fast-transition;
  }
  .ADMIN-bar {
    fill: $admin;
  }
  .STAFF-bar {
    fill: $staff;
  }
  .PROJECT-bar {
    fill: $project;
  }
  .PARTNER-bar {
    fill: $partner;
  }
  .PILLAR-1-bar, .LYPK-bar {
    fill: $pillar1;
  }
  .PILLAR-2-bar, .LYPM-bar {
    fill: $pillar2;
  }
  .PILLAR-3-bar, .LYPN-bar {
    fill: $pillar3;
  }
  .PILLAR-4-bar, .LYPL-bar {
    fill: $pillar4;
  }
  .bsy-line {
    stroke: $light-gray;
  }
}

.svg-isy-figure {
  .myr-bar {
    fill: $myr;
  }
  .yer-bar {
    fill: $yer;
  }
  .axis {
    line:last-child {
      stroke: black;
    }

    text {
      font-size: 11px;
    }
  }
  .bar {
    pointer-events: none;
  }
  .bar-container {
    fill: white;
    stroke: $light-gray;
  }

  .isy-line {
    stroke: $light-gray;
  }

  .bar-container.hover {
  }

  .bar-container.selected {
  }

  .box.inconsistent .bar-container{
    fill: $baby-blue;
  }
  .bar-footer.success {
    fill: $success;
  }
  .bar-footer.ok {
    fill: $ok;
  }
  .bar-footer.fail {
    fill: $fail;
  }
  .bar-footer.missing {
    fill: $missing;
  }
  .box.faded {
    opacity: .6;
  }
  .box.box-invisible {
    opacity: 0;
  }
  .box {
    cursor: pointer;
    -moz-transition:opacity $fast-transition;
    -webkit-transition:opacity $fast-transition;
    -o-transition:opacity $fast-transition;
    transition:opacity $fast-transition;
  }

  .hover-container {
    fill: transparent;
  }

  .box:hover, .box.selected, .box.active {
    .hover-container {
      fill: $off-white;
      stroke: $dark-gray;
    }
    .yer-bar {
      fill: #f642ee;
    }
    .myr-bar {
      fill: #a432aa;
    }
  }

  .box.inconsistent:hover, .box.selected.inconsistent {
    .hover-container {
      fill: $baby-blue;
      stroke: $dark-gray;
    }
  }


  .target {
    fill: white;
    stroke: $dark-gray;
    pointer-events: none;

  }

  .baseline {
    pointer-events: none;
    fill: white;
    stroke: $dark-gray;

  }

  .circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    pointer-events: none;
  }

  .label {
    font-size: 11px;
    pointer-events: none;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
  }

  .tag {
    fill: white;
    stroke: $black;
  }
}

.svg-isy-figure.isy-performance {
  .isy-crit-label {
    display: none;
  }

  .bar-footer {
    display: none;
  }

  .isy-line-bottom {
    display: none;
  }

}

.spark-bar-graph {
  margin-right: -2px;
}

.bar.success {
  fill: $success;
}
.bar.ok {
  fill: $ok;
}
.bar.fail {
  fill: $fail;
}
.bar.missing {
  fill: $missing;
}

.bar.high {
  fill: $high;
}
.bar.medium {
  fill: $medium;
}
.bar.low {
  fill: $low;
}

path.success {
  stroke: $success;
  fill: none;
}
path.ok {
  stroke: $ok;
  fill: none;
}
path.fail {
  stroke: $fail;
  fill: none;
}
path.missing {
  stroke: $dark-gray;
  fill: none;
}

path.high {
  stroke: $high;
  fill: none;
}
path.medium {
  stroke: $medium;
  fill: none;
}
path.low {
  stroke: $low;
  fill: none;
}

.graph-container {
  fill: transparent;
}

