@import "../shared/variables.css.scss";

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
}

#bubble {
  .bubble.focus {
    fill: black;
  }
  .trail {
    stroke: black;
    stroke-dasharray: 5 5;
    pointer-events: none;
  }
  .bubble {
    fill: red;
    opacity: .5;
    pointer-events: none;
  }
  .axis path {
    fill: none;
  }

  .y.axis line {
    stroke: $primary-light;
  }

  .y.axis g:nth-of-type(-n+2) line {
    stroke: none
  }

  .y.axis text, .x.axis > text {
    fill: $primary-light;
    font-size: 1.4em;
  }

  .x.axis path {
    stroke: $light-gray;
  }

  .x.axis line {
    stroke: $light-gray;
  }

  .x.axis text {
    fill: $primary-light;
  }
}

.circle {
  .background {
    fill: $light-gray;
  }

  .foreground.ok {
    fill: $ok;
  }

  .foreground.success {
    fill: $success;
  }

  .foreground.fail {
    fill: $fail;
  }

  .foreground.missing {
    fill: $dark-gray;
  }

  .progress-meter text {
    font-size: 1.8em;
    fill: white;
  }
}

.voronoi {
  fill: transparent;
}

.indicator-bar-graph {
  .myr-bar {
    fill: deepskyblue;
  }
  .yer-bar {
    fill: cornflowerblue;
  }
  .bar {
    stroke: white;
    pointer-events: none;
  }
  .bar-container {
    fill: $off-white;
  }
  .box {
    line {
      stroke: $dark-gray;
      pointer-events: none;
    }
  }
  .box.reversed {
    fill: red;
  }

  .circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    pointer-events: none;
  }

  .text {
    fill: white;
  }

  .label {
    pointer-events: none;
  }

}

.spark-bar-graph {
  margin-right: -2px;
}

.bar.success {
  fill: $success;
}
.bar.ok {
  fill: $ok;
}
.bar.fail {
  fill: $fail;
}
.bar.missing {
  fill: $dark-gray;
}

.graph-container {
  fill: transparent;
}

