@import "../shared/variables";

.background-rect {
  fill: $map-background;
}

.country {
  fill: $country-color;
  stroke-width: .5px;
  stroke: $map-background;
}

line {
  shape-rendering: crispEdges;
}

.svg-bmy-figure, .svg-bmys-figure {
  .budget-line {
    stroke: $light-gray;
    fill: none;
    stroke-width: 2px;
  }
  .budget-line.active {
    stroke: $black;
  }

  .budget-point {
    stroke: $light-gray;
    fill: $light-gray;
  }

  .budget-point.active {
    stroke: $black;
    fill: $black;
  }

  .ADMIN {
    stroke: $admin;
  }
  .STAFF {
    stroke: $staff;
  }
  .PROJECT {
    stroke: $project;
  }
  .PARTNER {
    stroke: $partner;
  }
  .PILLAR-1, .LYPK {
    stroke: $pillar1;
  }
  .PILLAR-2, .LYPM {
    stroke: $pillar2;
  }
  .PILLAR-3, .LYPN {
    stroke: $pillar3;
  }
  .PILLAR-4, .LYPJ {
    stroke: $pillar4;
  }
  .Above-Operating-Level {
    stroke: $primary-soft;
  }
  .Operating-Level {
    stroke: $primary-light;
  }
  .total {
    stroke: $total;
    stroke-width: 6px;
  }

  .budget-point-total {
    stroke: $black;
    fill: $black;
  }

  .budget-point-ADMIN {
    fill: $admin;
  }
  .budget-point-STAFF {
    fill: $staff;
  }
  .budget-point-PROJECT {
    fill: $project;
  }
  .budget-point-PARTNER {
    fill: $partner;
  }
  .budget-point-PILLAR-1, .budget-point-LYPK {
    fill: $pillar1;
  }
  .budget-point-PILLAR-2, .budget-point-LYPM {
    fill: $pillar2;
  }
  .budget-point-PILLAR-3, .budget-point-LYPN {
    fill: $pillar3;
  }
  .budget-point-Above-Operating-Level {
    fill: $primary-soft;
  }
  .budget-point-Operating-Level {
    fill: $primary-light;
  }
  .point {
    fill: white;
    stroke: $black;
    stroke-width: 2px;
  }
  .y.axis line {
    stroke: $lighter-gray;
  }


  .y.axis text, .x.axis text {
    fill: $black;
  }

}

.axis path {
  fill: none;
}
.axis text tspan:first-child {
  font-size: 13px;
  fill: $orange;
}

.axis text tspan {
  font-size: 11px;
}

.svg-absy-figure {

  .point-container.focus .point, .point-container.focus .point-shadow {
    fill: $orange;
  }

  .point-container.active .point, .point-container.active .point-shadow {
    fill: white;
    stroke: $primary;
    stroke-width: 2px;
  }

  .point-container.queried .point, .point-container.queried .point-shadow {
    fill: $yellow-green;
  }

  .point-container .point-shadow {
    opacity: .4;
  }

  .point-container {
    .label {
      pointer-events: none;
      font-weight: bold;
    }
  }

  .trail {
    stroke: black;
    stroke-dasharray: 5 5;
    pointer-events: none;
  }

  .point, .point-container {
    fill: $purple;
    pointer-events: none;
  }

  .point.external {
    fill: lighten($purple, 20%);
  }

  .x.axis line {
    stroke: $lighter-gray;
  }

  .axis text tspan:first-child {
    font-size: 13px;
    fill: $orange;
  }
  .axis text tspan {
    font-size: 11px;
  }

  .y.axis text, .x.axis > text {
    fill: $black;
  }

  .x.axis text {
    fill: $black;
  }

  .x.axis .tick:nth-of-type(1) {
    display: none;
  }
}

.svg-circle-figure {
  .background {
    fill: white;
    stroke: $light-gray;
  }

}

.voronoi, .voronoiPoint {
  fill: transparent;
}

.svg-oasy-figure, .svg-pasy-figure, .svg-icsy-figure {
  .label {
    fill: $black;
    font-weight: normal;

    tspan {
      fill: $orange;
    }
  }
}

.svg-icmy-figure {
  .point {
    fill: white;
    stroke-width: 2px;
  }
  .point.ok {
    stroke: $ok;
  }
  .point.success {
    stroke: $success;
  }
  .point.fail {
    stroke: $fail;
  }
  .point.missing {
    stroke: $missing;
  }
  .point.high {
    stroke: $high;
  }
  .point.medium {
    stroke: $medium;
  }
  .point.low {
    stroke: $low;
  }

  .ic-line {
    stroke-width: 4px;
  }

  .x.axis .active {
    fill: red;
  }

  .y.axis line {
    stroke: $lighter-gray;
  }

}

.svg-bsy-figure {
  .bar {
    stroke: white;
    pointer-events: none;
  }
  .bar-container {
    fill: $off-white;
    stroke: none;
  }


  .bar-container.hover {
  }

  .bar-container.selected {
  }
  .box.faded {
    opacity: .6;
  }
  .box.active {
    stroke: black;
    stroke-width: 1px;
  }
  .box {
    -moz-transition:opacity $fast-transition;
    -webkit-transition:opacity $fast-transition;
    -o-transition:opacity $fast-transition;
    transition:opacity $fast-transition;
  }
  .ADMIN-bar {
    fill: $admin;
  }
  .STAFF-bar {
    fill: $staff;
  }
  .PROJECT-bar {
    fill: $project;
  }
  .PARTNER-bar {
    fill: $partner;
  }
  .PILLAR-1-bar, .LYPK-bar {
    fill: $pillar1;
  }
  .PILLAR-2-bar, .LYPM-bar {
    fill: $pillar2;
  }
  .PILLAR-3-bar, .LYPN-bar {
    fill: $pillar3;
  }
  .PILLAR-4-bar, .LYPJ-bar {
    fill: $pillar4;
  }
}

.svg-isy-figure {
  .myr-bar {
    fill: #862e8d;
  }
  .yer-bar {
    fill: #f6a0f3;
  }
  .axis {
    line:last-child {
      stroke: black;
    }
  }
  .bar {
    pointer-events: none;
  }
  .bar-container {
    fill: white;
    stroke: $light-gray;
  }


  .bar-container.hover {
  }

  .bar-container.selected {
  }

  .bar-container.inconsistent {
    fill: #d2f8fe;
  }
  .bar-footer.success {
    fill: $success;
  }
  .bar-footer.ok {
    fill: $ok;
  }
  .bar-footer.fail {
    fill: $fail;
  }
  .bar-footer.missing {
    fill: $missing;
  }
  .box.faded {
    opacity: .6;
  }
  .box.active {
    stroke: black;
    stroke-width: 1px;
  }
  .box {
    -moz-transition:opacity $fast-transition;
    -webkit-transition:opacity $fast-transition;
    -o-transition:opacity $fast-transition;
    transition:opacity $fast-transition;
  }

  .target {
    fill: white;
    stroke: $dark-gray;
    pointer-events: none;

    text {
      font-size: 11px;
    }
  }

  .baseline {
    pointer-events: none;
    fill: white;
    stroke: $dark-gray;

    text {
      stroke: white;
      font-size: 11px;
    }
  }

  .circle {
    fill: white;
    stroke: black;
    stroke-width: 3px;
    pointer-events: none;
  }

  .label {
    pointer-events: none;
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
  }

  .tag {
    fill: white;
    stroke: $black;
  }
}

.spark-bar-graph {
  margin-right: -2px;
}

.bar.success {
  fill: $success;
}
.bar.ok {
  fill: $ok;
}
.bar.fail {
  fill: $fail;
}
.bar.missing {
  fill: $missing;
}

.bar.high {
  fill: $high;
}
.bar.medium {
  fill: $medium;
}
.bar.low {
  fill: $low;
}

path.success {
  stroke: $success;
  fill: none;
}
path.ok {
  stroke: $ok;
  fill: none;
}
path.fail {
  stroke: $fail;
  fill: none;
}
path.missing {
  stroke: $dark-gray;
  fill: none;
}

path.high {
  stroke: $high;
  fill: none;
}
path.medium {
  stroke: $medium;
  fill: none;
}
path.low {
  stroke: $low;
  fill: none;
}

.graph-container {
  fill: transparent;
}

