.legend-map, .legend-bsy, .legend-absy, .legend-bmy, .legend-bmys, .legend-icmy, .legend-isy {
  min-height: 464px;
  color: $dark-gray;
  border-left: 1px solid $dark-gray;
  padding-left: 12px;
  margin-right: 12px;
  padding-top: 20px;
  font-size: 12px;

  b {
    color: black;
  }

  img {
    //width: 100%;
  }

  line {
    stroke: $dark-gray;
    stroke-dasharray: 1;
  }

  text {
    fill: $dark-gray;
  }
}

.color-legend {
  stroke: $dark-gray
}

.legend-isy {
  .isy-bar-legend-circle {
    stroke: $dark-gray;
    stroke-width: 1px;
  }

  .yer {
    fill: $yer;
  }
  .myr {
    fill: $myr;
  }
  .inconsistent {
    fill: $baby-blue;
  }
  .imp_target, .baseline {
    display: none;
  }

}

.legend-bsy, .legend-bmy {

  .bsy-bar-legend-circle {
    fill: $white;
    stroke: $black;
  }

  circle {
    @include transition-property(all);
    @include transition-duration($very-fast-transition);
    @include transition-timing-function(ease-in);
  }

  .bsy-color-legend-container {
    margin-top: 32px;

  }


  .Operating-Level.budgets {
    fill: $scenario-bar-ol;
  }
  .Above-Operating-Level.budgets {
    fill: $scenario-bar-aol;
  }
  .Operating-Level.expenditures {
    fill: $scenario-bar-exp;
  }

  .AOL {
    fill: $primary-soft;
  }
  .OL {
    fill: $primary-light;
  }
  .ADMIN {
    fill: $admin;
  }
  .STAFF {
    fill: $staff;
  }
  .PROJECT {
    fill: $project;
  }
  .PARTNER {
    fill: $partner;
  }
  .ADMIN:hover {
    fill: $admin-hover;
  }
  .STAFF:hover {
    fill: $staff-hover;
  }
  .PROJECT:hover {
    fill: $project-hover;
  }
  .PARTNER:hover {
    fill: $partner-hover;
  }
  .PILLAR-1, .LYPK {
    fill: $pillar1;
  }
  .PILLAR-2, .LYPM {
    fill: $pillar2;
  }
  .PILLAR-3, .LYPN {
    fill: $pillar3;
  }
  .PILLAR-4, .LYPL {
    fill: $pillar4;
  }
}

.legend-bmys {
  .Breakdown {
    fill: $light-gray;
  }
}

.legend-absy {
  .concentric-circle {
    fill: transparent;
    stroke: $black;
  }
  .Outside-Strategy {
    fill: lighten($purple, 20%);
  }
  .Within-Strategy {
    fill: $purple;
  }
}

.legend-icmy, .legend-map {

  .success {
    fill: $success;
  }
  .ok {
    fill: $ok;
  }
  .fail {
    fill: $fail;
  }
  .missing {
    fill: $missing;
  }

  .high {
    fill: $high;
  }
  .medium {
    fill: $medium;
  }
  .low {
    fill: $low;
  }

  .Higher {
    fill: rgb(253, 52, 156);

  }
  .Lower {
    fill: #fff;
  }

  .Not-Included {
    fill: $country-color;

  }

}

.svg-labels {
  .g-label-index {
    font-weight: bold;
  }
}
