@import "compass/css3";
@import "../shared/variables";
@import "../shared/mixins";


.pb_before { page-break-before:always !important; }
.pb_after  { page-break-after:always !important; }
.pbi-avoid {
  display:inline-block !important;
}
.pbi-avoid:after {
  content: '';
  display:block;
  height:0px;
  visibility: hidden;
}

.pdf-page {
  width: 21cm;
  margin: 0;
  height: 29.7cm;
  position: relative;
}

/* Warning lots of pixel perfect values needed. Makes for messy css */
body.pdf {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-rendering: optimizelegibility;
  padding: 0 50px;

  .pdf-page.country-list {
    background-color: $primary-soft;

    span {
      color: white;
    }
  }


  p {
    margin: 0;
  }

  label {
    font-size: 14px;
  }


  section {
    @include section;
  }
  article {
    @include article;
  }

  .parameter-show {
    width: 406px;
  }

  .legend-container {
    display: block;

    .legend {
      border: none;
    }
  }

  .parameter-slider {
    .parameter-slide {
      @include article;

      margin: 0;
      border: none;
      padding: 30px $parameter-show-padding-horizontal / 2;
      padding-top: 40px;

      .country-name {
        border-top: none;
      }

    }

  }
  .keyFigure {
    padding-bottom: 15px;
  }

  .impact-indicator-count {
    white-space: nowrap;
    div {
      line-height: 1.1em;
    }
  }


  .ui-extra-small-header {
    font-size: 16px;
  }

  .ui-medium-header, .ui-large-header {
    color: $primary-second;
  }

  .ui-small-header {
    font-size: 18px;
  }

  .ui-big-number {
    font-size: 32px;
  }

  .ui-medium-number {
    font-size: 24px;
  }

  .ui-huge-number {
    font-size: 64px;
  }

  .ui-small-number {
    font-size: 26px;
  }

  .light {
    font-weight: 200;
  }

  .pdf-strategy-snapshot {
    header {
      padding-top: 66px;
      padding-bottom: 50px;
    }
  }

  p {
    font-size: 14px;
    text-align:justify;
    text-justify:inter-word;
  }

  .legend-body {
    position: relative;
  }

  .bar-figure-container, .bar-axis-container {
    height: 510px;
    border-left: 1px $primary solid;
    position: relative;

    .bar-figure {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center
    }

  }

  .bar-axis-container {
    border: none;
    .bar-axis {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .bar-figure-container:nth-child(2) {
    border-left: 1px $primary dotted;
  }

  .bar-legend::before {
    position: absolute;
    content: ' ';
    position: absolute;
    content: ' ';
    width: 15px;
    height: 15px;
    @include border-radius(15px);
    left: -6.5px
  }

  .bar-legend.success::before {
    background-color: $success;
  }
  .bar-legend.ok::before {
    background-color: $ok;
  }
  .bar-legend.fail::before {
    background-color: $fail;
  }
  .bar-legend.missing::before {
    background-color: $dark-gray;
  }

  .bar-legend.high::before {
    background-color: $high;
  }
  .bar-legend.medium::before {
    background-color: $medium;
  }
  .bar-legend.low::before {
    background-color: $low;
  }

  .achievement-criticality {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }


}

.pdf.absy, .pdf.icmy {
  figcaption {
    width: 435px;
    float: left;
    padding-top: 45px;
    height: 570px
  }

  .filler {
    height: 100%;
    width: 100%;
    border: 1px solid $primary-light;
  }
}

.pdf.icmy {
  article {
    width: 380px;
    border: none;
    border-bottom: 1px dotted $primary;
    margin-top: 15px;
  }

  .bar-figure-container, .bar-axis-container {
    height: 176px;

    svg {
      vertical-align: bottom;
    }
  }
}

.parameter-show:nth-of-type(2n+4) {
  margin-left: 2px;
}
.parameter-show:nth-of-type(2n+3) {
  margin-right: 2px;
}
.parameter-show:nth-of-type(-n+2) {
  margin-left: 2px;
}

.idx {
  @include number;
  width: $parameter-show-idx;
  height: $parameter-show-idx;
  border-radius: $parameter-show-idx;
  border: 2px solid $primary;
  text-align: center;
  line-height: $parameter-show-idx - 3px;
  font-weight: bold;
}
